
<layout>
    <div class="hero">
        <h1 class="hero-title">Design and Build Your Tech Team</h1>
        <p class="hero-text">We help companies with..</p>
        <button class="hero-button">Contact Us</button>
    </div>
    <div class="services">
        <div class="service-card">
        <h3 class="service-card-title">..</h3>
        </div>
    </div>
    <div class="contact">
        <h2 class="contact-title">Contact Us</h2>
        <form class="contact-form">
        <input type="text" class="contact-input"placeholder="name"/>
         <input type="email" class="contact-input"placeholder="email"/>
         <textarea class="contact-input" placeholder="Message"></textarea>
         <button type="submit" class="contact-button">Send</button>
         </form>
    </div>
    <footer class="footer">
        <p>&copy;2024 Bhutkun</p>
    </footer>

    <style>
        body{
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
         padding: 0;
        }
    </style>
</layout>