
<section class="services">
    <h2>Our services</h2>
    <div class="service-cards">
    <div class="service-card">
    <h3>Tech Transformation</h3>
    <p>...</p>
    </div>
    </div>
    
    <style>
        .services{
            background-color: #fff;
            padding: 50px;
        }
        .service-card-title{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .service-card-text{
            font-size: 16px;
        }
    </style>
</section>