---
import body from'./components/body.astro';
import services from'./components/services.astro';
import footer from'./components/footer.astro';
import contact from'./components/contact.astro';
import layout from'./layouts/base-layout.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhutkun</title>
    <link rel="stylesheet">
</head>
<body>
    <slot/>
</body>
</html>


